<%- include('partials/_header') %>

<h2>Your events</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Location</th>
      <th scope="col">Description</th>
      <th scope="col">Option</th>
      <th scope="col">Attendee(quantity)</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% for (const item of events) { %>
      <tr>
        <th scope="row"><%=item.title%></th>
        <td><%= item.location %></td>
        <td><%= item.description %></td>
        <td><%- item.options.replace(',', '<br>') -%></td>
        <td><%= item.qty_attendees %></td>
        <td><a href="events/<%item.shortURL%>" class="btn btn-dark">Edit</a></td>
      </tr>
      <% } %>
    </tbody>
  </table>
  <a href="/events/new" type="button" class="btn btn-primary"> + </a>
  

<%- include('partials/_footer') %>
